# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local references and archives
/.agents
/archive
/legacy_apps_script
/reference-escalante-app

# temporary local artifacts
build_error.txt
build_error_utf8.txt
files_to_push.txt
test_output.txt
test_output_utf8.txt
